<section class="two-way-binding">
  <h3>Two Way data binding</h3>
  <div>
    <input
      type="text"
      [value]="nome"
      (input)="nome = $any($event.target).value"
    /><br /><br />
    <input type="text" [ngModel]="nome" (ngModelChange)="nome = $event" />
    <br /><br />
    <!-- <input type="text" [(ngModel)]="nome" /> // melhor utilizar essa -->
    <input type="text" bindon-ngModel="nome" />
    <p>Você digitou o nome: {{ nome }}</p>
  </div>
  <div class="classe-flex">
    <input type="text" [(ngModel)]="pessoa.nome" />
    <input type="text" [(ngModel)]="pessoa.idade" />
    <input type="text" [(ngModel)]="pessoa.end.logradouro" />
    <input type="text" [(ngModel)]="pessoa.end.numero" />
    <p>
      Meu nome é pessoa {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos de
      idade
    </p>
  </div>
</section>
